/* --------   Шрифты   -------------*/
@font-face {
	font-family: "Gotham Book";
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/GOTHAMBOOK.woff');
}

@font-face {
	font-family: "Gotham Medium";
	font-style: normal;
	font-weight: medium;
	src:url('../fonts/14012.otf');
}
@font-face {
	font-family: "Gotham Bold";
	font-weight: Bold;
	font-style:normal;
	src:url('../fonts/14006.otf');
}
@font-face {
	font-family: "MyriadPro-Regular";
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/8143.otf');
}
@font-face {
	font-family: "OpenSans";
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/2211.ttf');
}
@font-face {
	font-family: "Roboto Bold";
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/3956.ttf');
}